In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\aasan\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\aasan\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: prettytable<1 in c:\users\aasan\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\aasan\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\aasan\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\aasan\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\aasan\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: stack-data in c:\users\aasan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\aasan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\aasan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\aasan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\aasan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\aasan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\aasan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\aasan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\aasan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=5 in c:\users\aasan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\aasan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\aasan\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\aasan\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\aasan\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in c:\users\aasan\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\aasan\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\aasan\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\aasan\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\aasan\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\aasan\anaconda3\lib\site-packages (2.9.5)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
%load_ext sql

In [5]:
from sqlalchemy import create_engine
%sql postgresql://postgres:root@localhost/postgres

In [6]:
engine = create_engine('postgresql://postgres:root@localhost/postgres')

In [7]:
%%sql

SELECT * FROM agent_info LIMIT 5

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[(45794, None, None, None, None, None, None, None, None, None, '[]', 'Inactive', 5364),
 (73846, None, None, None, 'EARL', None, None, None, None, None, '[]', 'Inactive', 5877),
 (469478, None, '01240186', None, 'James', None, None, None, None, '0', '["(760) 323-5000"]', 'Inactive', 19368),
 (64178, None, None, None, 'PAUL', None, None, None, None, None, '[]', 'Inactive', 5742),
 (233473, None, '01175087', None, 'Ken', None, 'Null Zip Code', None, None, None, '["(626) 386-7888"]', 'Active', 16194)]

In [8]:
import pandas as pd
agent_info_df = pd.read_sql('SELECT * FROM agent_info',engine)
agent_info_df.head()

,id,national_association_id,state_license,email,first_name,street,city,county,state,zipcode,phone_numbers,status,brokerage_id
0,45794,None,None,None,None,None,None,None,None,None,[],Inactive,5364.0
1,73846,None,None,None,EARL,None,None,None,None,None,[],Inactive,5877.0
2,469478,None,01240186,None,James,None,None,None,None,0,"[""(760) 323-5000""]",Inactive,19368.0
3,64178,None,None,None,PAUL,None,None,None,None,None,[],Inactive,5742.0
4,233473,None,01175087,None,Ken,None,Null Zip Code,None,None,None,"[""(626) 386-7888""]",Active,16194.0

In [24]:
brokerage_df = pd.read_sql('SELECT * FROM brokerage',engine)
brokerage_df.head()

,id,national_association_id,email,name,short_name,street,city,county,state,zipcode,phone_numbers,url,status
0,438035,9999,test@rapattoni.com,Trainers and Company,Trainers and Company,1234 Main St,San Francisco,,CA,93065,"[""(805) 520-9755""]",http://www.rapattoni.com,Active
1,438075,+AMC,,Ameriquest Mortgage Company,Ameriquest Mortgage Company,"1 Daniel Burnham Ct.,",San Francisco,,CA,94109,"[""(415) 922-0552""]",,Active
2,438344,166004786,,Davis Realty,Davis Realty,"5010 Geary Blvd., Suite 102",San Francisco,,CA,94118,"[""(415) 221-9700""]",,Active
3,8986,None,None,New Castle Realty Group,None,None,None,None,None,None,[],None,Active
4,46454,None,None,"KEMPER, REALTORS",None,None,None,None,None,0,"[""(909) 862-5220""]",None,Active

In [10]:
home_info_df = pd.read_sql('SELECT * FROM home_info',engine)
home_info_df.head()

,id,state_market_id,county_market_id,city_market_id,zipcode_market_id,neighborhood_level_1_market_id,neighborhood_level_2_market_id,on_market_knwl_time,pending_knwl_time,last_sold_knwl_time
0,10,672.0,675.0,714.0,1681.0,64653.0,65449.0,2019-03-22 00:00:00,2019-07-29 13:50:29,2019-07-26 00:00:00
1,14,672.0,675.0,714.0,1803.0,64643.0,64760.0,2019-04-08 00:00:00,2019-05-03 08:47:00,2019-05-17 00:00:00
2,15,672.0,673.0,937.0,1788.0,NaN,NaN,2019-03-23 07:00:00,2019-07-11 07:00:00,2019-07-29 07:00:00
3,27,672.0,673.0,679.0,1678.0,NaN,65115.0,2019-03-28 07:00:00,NaT,NaT
4,28,672.0,673.0,826.0,1771.0,64641.0,66003.0,2019-03-28 07:00:00,2019-04-11 07:00:00,2019-05-31 07:00:00

In [11]:
agent_listing_df = pd.read_sql('SELECT * FROM agent_listing',engine)
agent_listing_df.head()

,id,deal_side,is_primary,home_id,status,listing_price,last_sold_price,agent_id
0,2283708,LISTING,False,14011835,SOLD,3498000.0,4250000.0,12981
1,2283707,LISTING,True,14011835,SOLD,3498000.0,4250000.0,12980
2,2148307,LISTING,True,1734814,OTHER,10890000.0,NaN,31089
3,2283709,SELLING,True,14011835,SOLD,3498000.0,4250000.0,85159
4,2283710,LISTING,True,14011838,SOLD,2598000.0,2580000.0,109359

### Normalizing the data

#### Brokerage df

In [25]:
brokerage_df.columns

Index(['id', 'national_association_id', 'email', 'name', 'short_name',
       'street', 'city', 'county', 'state', 'zipcode', 'phone_numbers', 'url',
       'status'],
      dtype='object')

In [26]:
brokerage_df['name'] = brokerage_df['name'].str.lower()
brokerage_df['email'] = brokerage_df['email'].str.lower()
brokerage_df['street'] = brokerage_df['street'].str.lower()
brokerage_df['city'] = brokerage_df['city'].str.lower()
brokerage_df

,id,national_association_id,email,name,short_name,street,city,county,state,zipcode,phone_numbers,url,status
0,438035,9999,test@rapattoni.com,trainers and company,Trainers and Company,1234 main st,san francisco,,CA,93065,"[""(805) 520-9755""]",http://www.rapattoni.com,Active
1,438075,+AMC,,ameriquest mortgage company,Ameriquest Mortgage Company,"1 daniel burnham ct.,",san francisco,,CA,94109,"[""(415) 922-0552""]",,Active
2,438344,166004786,,davis realty,Davis Realty,"5010 geary blvd., suite 102",san francisco,,CA,94118,"[""(415) 221-9700""]",,Active
3,8986,None,None,new castle realty group,None,None,None,None,None,None,[],None,Active
4,46454,None,None,"kemper, realtors",None,None,None,None,None,0,"[""(909) 862-5220""]",None,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98544,1901474,None,None,"tru realty, inc",None,None,None,None,None,None,{},None,None
98545,1901475,None,None,"edward k. baldwin, broker",None,None,None,None,None,None,{},None,None
98546,1901476,None,None,golden gate sothebys intl rlty,None,None,None,None,None,None,{},None,None
98547,1901477,None,None,"all star investments, inc.",None,None,None,None,None,None,{},None,None
98548,1901478,None,None,real estate source,None,None,None,None,None,None,{},None,None

In [27]:
brokerage_df.drop_duplicates(subset="name",keep=False, inplace=True)
brokerage_df

,id,national_association_id,email,name,short_name,street,city,county,state,zipcode,phone_numbers,url,status
4,46454,None,None,"kemper, realtors",None,None,None,None,None,0,"[""(909) 862-5220""]",None,Active
7,46729,None,None,"irealty, inc.",None,None,None,None,None,0,"[""(661) 513-4550""]",None,Active
17,438352,166005628,,"emmery, lena","Emmery, Lena",1442 willard st.,san francisco,,CA,94117,"[""(415) 661-0681""]",,Inactive
26,10280,None,None,daniel todd gryczman,None,16161 ventura blvd.,encino,None,CA,91436,[],None,Active
27,12039,None,None,consign la,None,5331 derry ave. suite k,agoura hills,None,CA,91301,[],None,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98536,1901466,None,None,"maureen williams, broker",None,None,None,None,None,None,{},None,None
98541,1901471,None,None,dcp & associates,None,None,None,None,None,None,{},None,None
98544,1901474,None,None,"tru realty, inc",None,None,None,None,None,None,{},None,None
98545,1901475,None,None,"edward k. baldwin, broker",None,None,None,None,None,None,{},None,None
98547,1901477,None,None,"all star investments, inc.",None,None,None,None,None,None,{},None,None

In [28]:
!pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in c:\users\aasan\anaconda3\lib\site-packages (0.18.0)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [31]:
brokerage_df.drop_duplicates(subset="phone_numbers",keep=False, inplace=True)
brokerage_df

,id,national_association_id,email,name,short_name,street,city,county,state,zipcode,phone_numbers,url,status
4,46454,None,None,"kemper, realtors",None,None,None,None,None,0,"[""(909) 862-5220""]",None,Active
7,46729,None,None,"irealty, inc.",None,None,None,None,None,0,"[""(661) 513-4550""]",None,Active
17,438352,166005628,,"emmery, lena","Emmery, Lena",1442 willard st.,san francisco,,CA,94117,"[""(415) 661-0681""]",,Inactive
29,13742,None,None,srar,None,7232 balboa blvd.,van nuys,None,CA,91406,"[""(818) 947-2278""]",None,Active
32,17574,None,None,"next real estate advisor, inc.",None,None,None,None,CA,0,"[""(747) 444-4544""]",None,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98459,459256,206541910,,park46 real estate,Park46 Real Estate,580 4th st,san francisco,,CA,94107,"[""(925) 519-8226""]",,Active
98460,459257,VFLT-1,,vflight real estate,VFlight Real Estate,580 4th street,san francisco,,CA,94107,"[""(408) 656-8240""]",vflight.com,Active
98461,459258,906309,,gated realty,Gated Realty,1024 iron point rd,folsom,,CA,95630,"[""(916) 838-3489""]",,Active
98462,459259,906308,,"julia bradley, broker","Julia Bradley, Broker",8612 hume court,elk grove,Sacramento,CA,95624,"[""(916) 704-7140""]",,Active
98470,438342,166004783,,"drossler, richard a.","Drossler, Richard A.","355 euclid ave., suite 104",san francisco,,CA,94118,"[""(415) 386-1612""]",,Inactive

In [33]:
brokerage_df.drop_duplicates(subset=["street","city","county","state","zipcode"],keep=False, inplace=True)
brokerage_df = brokerage_df.reset_index(drop=True)
brokerage_df

,id,national_association_id,email,name,short_name,street,city,county,state,zipcode,phone_numbers,url,status
0,438352,166005628,,"emmery, lena","Emmery, Lena",1442 willard st.,san francisco,,CA,94117,"[""(415) 661-0681""]",,Inactive
1,13742,None,None,srar,None,7232 balboa blvd.,van nuys,None,CA,91406,"[""(818) 947-2278""]",None,Active
2,438368,166004838,,fresco properties,Fresco Properties,5915 zinn drive,oakland,,CA,94611,"[""(415) 644-4817""]",,Inactive
3,37791,None,None,alert realty,None,310 w fourth st,oxnard,None,CA,0,"[""(805) 487-3838""]",None,Active
4,438389,166004885,,"grisez co., chas. j.","Grisez Co., Chas. J.",2430 chestnut st.,san francisco,,CA,94123,"[""(415) 921-6688""]",,Inactive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28335,459256,206541910,,park46 real estate,Park46 Real Estate,580 4th st,san francisco,,CA,94107,"[""(925) 519-8226""]",,Active
28336,459257,VFLT-1,,vflight real estate,VFlight Real Estate,580 4th street,san francisco,,CA,94107,"[""(408) 656-8240""]",vflight.com,Active
28337,459258,906309,,gated realty,Gated Realty,1024 iron point rd,folsom,,CA,95630,"[""(916) 838-3489""]",,Active
28338,459259,906308,,"julia bradley, broker","Julia Bradley, Broker",8612 hume court,elk grove,Sacramento,CA,95624,"[""(916) 704-7140""]",,Active
28339,438342,166004783,,"drossler, richard a.","Drossler, Richard A.","355 euclid ave., suite 104",san francisco,,CA,94118,"[""(415) 386-1612""]",,Inactive

### Agent_info

In [36]:
agent_info_df.columns

Index(['id', 'national_association_id', 'state_license', 'email', 'first_name',
       'street', 'city', 'county', 'state', 'zipcode', 'phone_numbers',
       'status', 'brokerage_id'],
      dtype='object')

In [37]:
agent_info_df['first_name'] = agent_info_df['first_name'].str.lower()
agent_info_df['email'] = agent_info_df['email'].str.lower()
agent_info_df['street'] = agent_info_df['street'].str.lower()
agent_info_df['city'] = agent_info_df['city'].str.lower()
agent_info_df['state'] = agent_info_df['state'].str.lower()

In [39]:
agent_info_df.drop_duplicates(subset="state_license",keep=False, inplace=True)
agent_info_df.drop_duplicates(subset="first_name",keep=False, inplace=True)
agent_info_df.drop_duplicates(subset=["street","city","state","zipcode"],keep=False, inplace=True)
agent_info_df= agent_info_df.reset_index(drop=True)
agent_info_df

,id,national_association_id,state_license,email,first_name,street,city,county,state,zipcode,phone_numbers,status,brokerage_id
0,14588,None,01470020,et1399@yahoo.com,ernie v,3660 larry ct,san jose,None,ca,95121,"[""(408) 625-1500"", ""(408) 445-4110""]",Inactive,2864.0
1,14600,None,01781768,ronnied@kw.com,ronlyn,154 san carlos ave.,redwood city,None,ca,94061,"[""(650) 454-8500"", ""(650) 454-8500""]",Inactive,2357.0
2,12725,None,01777530,nelly.chapman@gmail.com,nelly e.,433 coates drive,aptos,None,ca,95003,"[""(408) 497-3280"", ""(831) 247-4148""]",Inactive,3691.0
3,14794,None,01761219,janinerealtor4u@aol.com,janine d.,113 cherry blossom lane,aptos,None,ca,95003,"[""(209) 500-8589"", ""(408) 916-1984""]",Inactive,2848.0
4,14870,None,01769468,varisa@eliterm.com,varisa,1442 fallen leaf dr,san jose,None,ca,95112,"[""(408) 625-1500"", ""(650) 862-6574""]",Inactive,2864.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21566,1421039,166015660,01465094,rabel@lee-associates.com,ryan lincoln,"1227 waller st., #4",san francisco,,ca,94117,"[""(415) 370-1118""]",None,439681.0
21567,1419136,198037857,01909081,shara.coletta@gmail.com,shara lee,4747 paradise dr.,tiburon,,ca,94920,"[""(415) 971-1301""]",None,439391.0
21568,1419428,166030723,02196065,contact@soldbysalema.com,salema jamal,po box 633,san mateo,,ca,94401,"[""(888) 584-9427""]",None,439138.0
21569,1412268,166018890,00809840,forhappy888@gmail.com,maharba,169 miriam st.,daly city,,ca,94014,"[""(415) 788-5188"", ""(415) 788-5188""]",None,438824.0
21570,1406711,166001586,01004527,yogolan@aol.com,yukki,608 5th ave.,san francisco,,ca,94118,"[""(415) 221-6898"", ""(415) 221-6898""]",None,438911.0